# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Logs
\.*
#.ofc

ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
cmake_install.cmake
CMakeCache.txt
ISC.sln
main.vcxproj
main.vcxproj.filters
syntax.btp
syntax.txt
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
CMakeFiles
build
buildw
Testing
cmake-*

doc
cpuid
boost*
boost

test
tokens
* copy
perf*
test_LL
test_LR
output_ir.txt
test-dump
# dir where dumps are located
Dumps
TestDumps
!.github